.dashboard{
    padding: 39px 158px;
}


.dashboard-container{
    display: flex;
    justify-content: space-between;
}

.user-info{
    height: 190px;
    width: 380px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: #F6F6F6;
    border-radius: 11px;
}

.batchname{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}


.upcoming-activity{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-button{
    height: 26px;
    width: 98px;
    border-radius: 5px;
    border: 1.5px solid #0047B1;
    margin-right: 10px;
}

.user-performance{
    height: 190px;
    width: 580px;

    background: #F6F6F6;
    border-radius: 11px;
}

.loaders{
    margin-top: 15px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.activity-container{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.line{
    height: 3px;
    background-color:  #939393;
    margin: auto 10px;
}


.tableHeading{
    position: absolute;
    width: 1049px;
    height: 27px;
    left: 158px;
    top: 319px;

    display: flex;
    justify-content: space-evenly;

    background: #E2E2E2;
    border-radius: 13.5px;
}

.tableContent{
    display: flex;
    justify-content: space-between;
}